@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define global colors and typography */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Manrope", Arial, sans-serif; /* Use Manrope as the primary font */
    font-size: 16px; /* Default font size */
    line-height: 1.5; /* Improve readability */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Manrope", Arial, sans-serif; /* Ensure headings use Manrope */
    font-weight: 700; /* Bold for headings */
  }

  p,
  a,
  li,
  span {
    font-family: "Manrope", Arial, sans-serif; /* Use Manrope for all text */
    font-weight: 400; /* Regular weight */
  }

  a {
    color: inherit; /* Links inherit text color */
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  a:hover {
    color: #d87d4a; /* Accent color for hover */
  }
}
